:root {
    --nav: #6c757d;
    --text-link: #727272;
    --text: black;
    --bg: #fff;
    --bg-light: rgb(248, 249, 250);
    --font-main: "Playfair Display", Georgia, "Times New Roman", serif;
}

.dark-theme {
    --nav: #d6d6d6;
    --bg: rgb(19, 18, 18);
    --bg-light: rgb(33, 37, 41);
    --text: #fff;
}

body {
    background: var(--bg);
    color: var(--text);
    text-decoration: var(--text);
}

/* ===== header ===== */
.blog-header {
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: var(--font-main);
    color: var(--text);
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
    color: var(--text);
}

.theme-toggler span {
    display: none;
}

.theme-toggler span.active {
    display: block;
}

.top-icon {
    font-size: 1.3rem;
    cursor: pointer;
}

.top-icon:hover {
    font-size: 1.5rem;
}

form {
    display: none;
}

.form-control {
    background-color: transparent;
    height: 2.3rem;
}

form span {
    display: flex;
    justify-content: center;
    height: 2.3rem;
    width: 3.1rem;
}

link {
    text-decoration: var(--text);
    color: var(--text);
}

nav .link {
    color: var(--nav);
    text-decoration: underline;
}

nav .link:hover {
    text-decoration: none;
}


/* ===== hero ===== */

.hero {
    padding: 2.5rem !important;
}

.about {
    background: var(--bg-light);
}


/* ===== articel ===== */
.blog-post-title {
    font-size: 2.5rem;
    font-family: var(--font-main);
    text-decoration: none;
    color: var(--text);
}

.blog-post-title:hover {
    text-decoration: underline;
    color: var(--text);
}

.blog-post-meta {
    margin-bottom: 1rem;
    font-size: 14px;
    font-style: italic;
    color: var(--text-link);
}

.blog-post-meta a {
    color: var(--text-link);
    text-decoration: none;
}

.blog-post-meta a:hover {
    color: #535353;
    text-decoration: underline;
}


.blog-footer {
    padding: .3rem;
    color: var(--text);
    text-align: center;
    background-color: var(--bg-color);
    border-top: 0.1rem solid #e5e5e5;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

main.single {
    padding: 0 40px;
    text-align: justify;
}

main.single h1 {
    text-align: center;
    padding: 0.7rem !important;
}

main.single img {
    display: flex;
    justify-content: center;
    width: 700px;
    padding: 0 40px;
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 13px;
    }

    .blog-header-logo {
        font-size: 1.7rem;
    }

    .top-icon {
        font-size: 1rem;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }


    #search input,
    #search span {
        height: 30px;
    }

    #search button {
        display: flex;
        justify-content: center;
        width: 8px;
        padding: 0;
    }

    .hero {
        padding: 0.9rem !important;
    }

    .hero p{
        font-size: 1rem;
    }

    .blog-post-title{
        font-size: 1.8rem;
    }

    .blog-post-meta{
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
    }

    .side-menu{
        display: none;
    }
    
    main.single {
        padding: 0;
    }

    .mb-3{
        margin-bottom: 0.6rem!important;
    }

    .mb-2{
        margin-bottom: .1rem!important;
    }

    main.single img {
        display: flex;
        justify-content: center;
        width: 360px;
        padding: 0 10px;
        margin-bottom: 0;
    }

}